{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-jsx"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    keyword-spacing: 1,
    space-before-function-paren: 1,
    no-unused-vars: 1
  }
}
