{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-jsx"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    keyword-spacing: 0,
    space-before-function-paren: 0,
  }
}
